POSTGRES_DB=transcendence
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=dummy@email.com
EMAIL_HOST_PASSWORD=dummy_password
DEFAULT_FROM_EMAIL=dummy@email.com

DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com

OAUTH_42_CLIENT_ID =dummy_client_id
OAUTH_42_CLIENT_SECRET =dummy_client_secret
OAUTH_42_REDIRECT_URI =http://localhost:8000/api/oauth/42/callback/

REDIS_PASSWORD=redis_password
REDIS_HOST=cache
REDIS_PORT=6379

DATABASE_URL="postgres://db_user:db_password@localhost:5432/transcendence"

DEBUG=True
NODE_ENV=development

FOUNDRY_HOST=127.0.0.1
FOUNDRY_PORT=8545
FOUNDRY_URL=http://127.0.0.1:8545/
FOUNDRY_MNEMONIC="test test test test test test test test test test test junk"
FOUNDRY_PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945388cf5f3d99b02aa0055b1577e5c9b8c7fa
