Django==4.2.14
djangorestframework
django-cors-headers
sqlalchemy
psycopg2-binary
pandas
web3
python-decouple
channels
daphne
channels-redis
asyncio
requests
pyotp
djangorestframework-simplejwt
pillow
django-silk
faker
qrcode
django-crontab
drf_yasg