Django==4.2.14
djangorestframework
django-cors-headers
psycopg2-binary
python-decouple
channels
daphne
channels-redis
requests
pyotp
djangorestframework-simplejwt
pillow
django-silk
faker
qrcode
django-crontab
drf_yasg
hvac>=1.0,<2.0
py-avataaars
cairosvg
django-health-check
django-prometheus
