@import "bootstrap/scss/bootstrap";
@import "./pong.scss";

@font-face {
	font-family: "CustomFont";
	src: url("../fonts/mk3.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

html {
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	color: #fff;
	font-family: "Titillium Web", sans-serif;
}

#background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("../static/images/bg.png");
	background-size: cover;
	background-position: center;
	filter: brightness(70%) blur(2px);
	z-index: -1;
}

[data-href],
.cursor-pointer,
.card {
	cursor: pointer;
}

[data-page="login"] {
	color: #000;
}

.form-signin {
	min-width: 400px;
}

#main {
	padding: 3rem;
	@media (min-width: 1200px) {
		padding: 3rem 10rem;
	}
}

.card {
	transition: transform 0.3s, box-shadow 0.3s;
	height: 270px;
	max-width: 400px;
	background-image: url("../static/images/card.png");
	background-position: initial;
	background-repeat: round;

	img {
		filter: invert(1) brightness(2);
	}
}

.card-title {
    color: #fff;
}

.card:hover {
	transform: translateY(-10px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.card-body {
	color: #fff;
	z-index: 1;
	justify-content: center;
	h5 {
		padding-bottom: 1rem;
	}
}

.fade-in {
	animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.message-popup {
	bottom: 20px;
}

.transition-opacity {
	transition: opacity 0.5s ease-in-out;
}

.title {
	font-family: "CustomFont", sans-serif;
	text-transform: uppercase;
	color: #fff;
}

#settings-container {
	background: #202428;
}