// Define color variables
$white: #fff;
$black: #000;
$gray-light: #3c3c3c;
$purple: #6a1b9a;
$purple-light: #ab47bc;
$background-dark: #202428;
$button-bg: #383e45;

// Import dependencies
@import "bootstrap/scss/bootstrap";
@import "./pong.scss";

@font-face {
    font-family: "CustomFont";
    src: url("../fonts/mk3.woff") format("woff");
}

@font-face {
    font-family: "CustomFont2";
    src: url("../fonts/warlock.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

body {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    position: relative;
    color: $white;
    font-family: "Titillium Web", sans-serif;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../static/images/bg.png");
    background-size: cover;
    background-position: center;
    filter: brightness(70%) blur(2px);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

[data-href],
.cursor-pointer,
.card {
    cursor: pointer;
}

.form-signin {
    min-width: 400px;
}

#main {
    padding: 3rem;
    @media (min-width: 1200px) {
        padding: 3rem 10rem;
    }
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
    height: 270px;
    max-width: 400px;
    background-image: url("../static/images/card.png");
    background-position: initial;
    background-repeat: round;

    img {
        filter: invert(1) brightness(2);
    }

    &:hover {
        .card-body {
            border: red solid 10px;
        }
    }

    .card-body {
        color: $white;
        z-index: 1;
        justify-content: center;
        align-content: center;

        h5 {
            font-size: 24px;
        }
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.message-popup {
    bottom: 20px;
}

.transition-opacity {
    transition: opacity 0.3s ease-in-out;
}

.title {
    font-family: "CustomFont", sans-serif;
    text-transform: uppercase;
}

#settings-container {
    background: $background-dark;

    a {
        color: $white;
        &.active {
            color: $black;
        }
    }
}

#deleteAccountModal {
    .modal-content {
        background: $background-dark;
        color: $white;
    }
}

button {
    background-color: $button-bg !important;
    border: $background-dark solid 2px !important;
}

#tournament-title {
    font-family: "CustomFont2", sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: $background-dark;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(145deg, $gray-light, $purple);
    border-radius: 10px;
    border: 2px solid $background-dark;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(145deg, $purple, $purple-light);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $purple $background-dark;
}